#root {
  width: 24em;
  min-height: 100%;
  background: var(--bs-indigo);
  color: pink;
  padding: 16px 0px;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

hr {
  opacity: 0.5;
}

.points {
  font-size: 8em;
  line-height: 1em;
}
